body {
    width: 100%;
    margin: auto;
    background-color:#ffffff;
}

#name{ 
    background: #4aaaa5;
    color: #ebebeb;
    width: 15%;
    text-align: center;
    padding: 35px 15px;
    font-size: 150%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 380px;
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

aside {
    width: 25%;
    text-align: center;
    padding: 30px 10px;
    float: left;
    /* margin-right: 100px; */
    box-sizing: border-box;
    margin-left: 150px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#top {
    margin-top: 40px;

}

#backdrop {
    width: 100%;
    background: #275064;
    padding-top: 10px;
    height: 600px;
    border-top: 2px solid #464073;
    
    
}

#about {
    width: 960px;
    background: #ffffff;
    margin-left: 380px;
    border: 2px solid #131304;

    
     
}

h1 {
    font-size: 150%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 10px;
    color:#4aaaa5;
    
}

#image {
    margin-left: 10px;
    
}

#blurb {
    float: left;
    width: 72%;
    margin-left: 20px;
    margin-bottom: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 0px;
    line-height: 28px;
  
}

#pic {
    float: left;
}

#line {
    width: 90%;
    margin-left: 10px;
    color: #9AA5AA;
}

#p2 {
    margin-left: 20px;
    margin-top: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 28px;
    margin-right: 90px;
}

#p3 {
    margin-left: 20px;
    margin-right: 80px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 28px;
}

#thick {
    color: #9AA5AA;
    background-color:#666666;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 6px;
}

#thin {
    background-color: #4aaaa5;
    text-align: center;
    width: 100%;
    color: #4aaaa5;
    line-height: 6px;
    font-size: 0%;
    
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 45%;
    margin-left: 25%;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
}

#portfolio {
    width: 45%;
    background: #ffffff;
    margin-left: 380px;
    border: 2px solid #131304;
    position: relative;
}

#castlevania {
    position: absolute;
    bottom: 400px;
    right: 553px;
    background-color: #4aaaa5;
}

#zelda {
    position: absolute;
    bottom: 400px;
    right: 420px;
    background-color: #4aaaa5;
}

#doom {
    position: absolute;
    bottom: 250px;
    right: 559px;
    background-color: #4aaaa5;
}

#skies {
    position: absolute;
    bottom: 250px;
    right: 420px;
    background-color: #4aaaa5;
}

#wc {
    position: absolute;
    bottom: 90px;
    right: 569px;
    background-color: #4aaaa5;
}

#wizardry {
    position: absolute;
    bottom: 90px;
    right: 398px;
    background-color: #4aaaa5;
}
